# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Paths 
/.vs/Basic Renderer/v17
/.vs/Basic Renderer/FileContentIndex
/Basic Renderer/x64/Debug
/Resources/Models
/x64/Debug
Basic Renderer.aps
Basic Renderer.rc
